@{
    ViewData["Title"] = "Pesquisa";
}

<h2>Pesquisa</h2>

<form asp-controller="Pesquisa" asp-action="Pesquisar" method="post">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" required />
    <button type="submit">Pesquisar</button>
</form>

@if (ViewBag.Mensagem != null)
{
    <p>@ViewBag.Mensagem</p>
}
