@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="display-4 text-center">Bem-vindo à Calculadora de IMC</h1>

    <div class="container mt-3"> 
        <p class="mt-15 lead ">
            Bem-vindo à nossa Calculadora de Índice de Massa Corporal (IMC), uma ferramenta abrangente dedicada a impulsionar
            sua jornada para uma saúde física e mental aprimorada. Vamos além de fornecer simples números, oferecendo uma
            experiência projetada para aumentar sua consciência e promover mudanças positivas em sua vida.
        </p>
    </div>
    <div>
        <p>
            A calculadora proporciona uma avaliação instantânea da relação entre seu peso e altura, gerando uma clara
            consciência do seu peso corporal. Mais do que uma métrica, o IMC é uma ferramenta reconhecida mundialmente
            para determinar se você está dentro de uma faixa de peso considerada saudável.
        </p>
        <p>
            Ao monitorar regularmente seu IMC, você obtém a capacidade de tomar medidas proativas para manter ou atingir
            um peso saudável. Este processo vai além de números, incentivando hábitos de vida saudáveis, incluindo a
            adoção de uma dieta equilibrada e a prática regular de exercícios físicos.
        </p>
        <p>
            Além disso, o IMC está associado à prevenção de diversas condições de saúde, como diabetes, doenças cardíacas
            e problemas articulares. A calculadora serve como um alerta precoce, identificando riscos potenciais e
            permitindo ações preventivas.
        </p>
        <p>
            A influência positiva do equilíbrio físico não se limita ao corpo; ela se estende à autoestima e à saúde mental.
            Manter um peso saudável contribui para uma imagem corporal positiva, reduzindo o estresse relacionado a
            preocupações com o peso.
        </p>
        <p>
            Ao oferecer acompanhamento personalizado ao longo do tempo, nossa calculadora adapta-se às suas metas de saúde,
            permitindo ajustes em suas rotinas de exercícios e hábitos alimentares. Além de calcular o IMC, a ferramenta é
            uma fonte educativa, ajudando a compreender a importância da relação entre peso e altura para sua saúde global.
        </p>
        <p class="mb-5">
            Este é mais do que um serviço de cálculo; é uma ferramenta motivadora para encorajar escolhas positivas em relação
            à sua saúde. Sua jornada para o bem-estar começa aqui, onde números se transformam em guias para uma vida mais
            saudável e equilibrada.
        </p>
    </div>

    <div>
        <h2>Calcular IMC</h2>
        <p>
            A página Calcular IMC é onde será efetuado o cálculo de índice de massa corporal da pessoa. Após realizar o cálculo,
            o usuário será redirecionado para uma página de resutado, onde irá mostrar o iMC(Índice de massa corporal) e uma 
            mensagem de feedback de como está seu imc.
        </p>
    </div>

    <div>
        <h2>Guardar Dados</h2>
        <p>
            A página Guardar Dados funciona como um histórico, onde o usuário vai inserir seus dados e ao clicar no botão "create",
            o sistema salvará os dados do usuário no banco de dados. Dessa forma ainda na página de Guardar Dados, tem como criar,
            editar e apagar os dados já inseridos.
        </p>
    </div>

    <div>
        <h2>Pesquisar</h2>
        <p>
            A página Pesquisar, foi criada para pesquisar os dados gravados de uma pessoa no banco de dados, se a pessoa já tiver feito 
            todo o processo de cadastro na página anterior, irá retornar esses dados na tela.
        </p>
    </div>
</div>
